.hero {
    padding: 60px 0;
}
.hero__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 850px;
    align-content: space-between;
    row-gap: 15px;
}
.hero__title {
    font-weight: 500;
    font-size: 48px;
    max-width: 410px;
    margin-bottom: 50px;
}

.hero__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    max-width: 585px;
    text-align: justify;
}

.hero__photo {
    max-width: 500px;
}

.hero__arrow {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 0);
    width: 60px;
    height: 30px;
    cursor: pointer;
    margin: 30px;
}

