
.recomendations__list {
    padding: 30px;
}

.recomendations__item:not(:last-child) {
    margin-bottom: 50px;
}

.recomendations__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.recomendations__title {
    text-align: center;
}

.recomendations__link {
    position: relative;
    transition: 0.3s;
}

.recomendations__link:hover {
    transform: translateX(5px);
}
